:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "LeagueSpartan";
  src: url("../fonts/LeagueSpartan.ttf");
}

.container {
  width: 300px;
  height: 180px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--very-dark-magenta);
}

.avatar {
  height: 40px;
  border-radius: 100%;
  margin-right: 20px;
}

.header {
  display: flex;
  align-items: center;
}

.userName {
  font-family: "LeagueSpartan";
  font-size: 15px;
  font-weight: 500;
  color: var(--light-grayish-magenta);
  margin-bottom: -10px;
}

.userDescription {
  font-family: "LeagueSpartan";
  font-size: 15px;
  font-weight: 500;
  color: var(--soft-pink);
}

.testimonial {
  font-family: "LeagueSpartan";
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  color: var(--light-grayish-magenta);
}

@media only screen and (max-width: 1200px) {
  .container {
    margin: 5px;
  }
}